<div style="display: flex;">
  <div style="margin-left: 20px;">
    <gux-flyout-menu-beta>
      <gux-flyout-option short-cut="Crl+Alt+A"><span>Option One</span></gux-flyout-option>
      <gux-flyout-option short-cut="Crl+Alt+C"><span>Option Two</span></gux-flyout-option>
      <gux-flyout-option short-cut="Shift+A"><span>Option Three</span></gux-flyout-option>
      <gux-flyout-option short-cut="⌘A"><span>Option Four</span></gux-flyout-option>
      <gux-flyout-option short-cut="⌘⇧A"><span>Option Five</span></gux-flyout-option>
    </gux-flyout-menu-beta>
  </div>
  <div style="margin-left: 20px;">
    <gux-flyout-menu-beta>
      <gux-flyout-option
        with-icon
        has-Inner-Option
        icon-name="angle-right"
        name="Option One"
      >
        <div class="gux-flyout-inner-content">
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option One">
            <div class="gux-flyout-inner-content">
              <gux-flyout-option short-cut="⌘A">Option One</gux-flyout-option>
              <gux-flyout-option short-cut="⌘⇧A">Option Two</gux-flyout-option>
              <gux-flyout-option short-cut="Crl+C">Option Three</gux-flyout-option>
            </div>
          </gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Two"></gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Three"></gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Four">
            <div class="gux-flyout-inner-content">
              <gux-flyout-option short-cut="⌘A">Option One</gux-flyout-option>
              <gux-flyout-option short-cut="⌘⇧A">Option Two</gux-flyout-option>
              <gux-flyout-option short-cut="Crl+Alt+C">Option Three</gux-flyout-option>
            </div>
          </gux-flyout-option>
        </div>
      </gux-flyout-option>
      <gux-flyout-option
        with-icon
        icon-name="angle-right"
        has-Inner-Option
        name="Option Two"
      ></gux-flyout-option>
      <gux-flyout-option
        with-icon
        icon-name="angle-right"
        has-Inner-Option
        name="Option Three"
      ></gux-flyout-option>
    </gux-flyout-menu-beta>
  </div>
</div>