<div style="display: flex;">
  <div style="margin-left: 20px;">
    <gux-flyout-menu-beta>
      <gux-flyout-option><span>Option One</span> <span>Crl+Alt+A</span></gux-flyout-option>
      <gux-flyout-option><span>Option Two</span> <span>Crl+Alt+C</span></gux-flyout-option>
      <gux-flyout-option><span>Option Three</span> <span>Shift+A</span></gux-flyout-option>
      <gux-flyout-option><span>Option Four</span> <span>⌘A</span></gux-flyout-option>
      <gux-flyout-option><span>Option Five</span> <span>⌘⇧A</span></gux-flyout-option>
    </gux-flyout-menu-beta>
  </div>
  <div style="margin-left: 20px;">
    <gux-flyout-menu-beta>
      <gux-flyout-option
        with-icon
        has-Inner-Option
        icon-name="angle-right"
        name="Option One"
      >
        <div class="gux-flyout-inner-content">
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option One">
            <div class="gux-flyout-inner-content">
              <gux-flyout-option short-cut="⌘A">Inner Option One</gux-flyout-option>
              <gux-flyout-option short-cut="⌘⇧A">Inner Option Two</gux-flyout-option>
              <gux-flyout-option short-cut="Crl+C">Inner Option Three</gux-flyout-option>
            </div>
          </gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Two"></gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Three"></gux-flyout-option>
          <gux-flyout-option with-icon has-Inner-Option icon-name="angle-right" name="Option Four"></gux-flyout-option>
        </div>
      </gux-flyout-option>
      <gux-flyout-option
        with-icon
        icon-name="angle-right"
        has-Inner-Option
        name="Option Two"
      ></gux-flyout-option>
      <gux-flyout-option
        with-icon
        icon-name="angle-right"
        has-Inner-Option
        name="Option Three"
      ></gux-flyout-option>
    </gux-flyout-menu-beta>
  </div>
</div>