
<div style="display: flex; height: 300px;">
  <div style="padding: 48px; background: antiquewhite">
    <h1 >Table</h1>
  </div>
  <gux-summary-palette-beta>
    <gux-summary-palette-section slot="Forms" check-box="Optional">
      <gux-summary-palette-section-option>
        Performance Tiers
      </gux-summary-palette-section-option>
    </gux-summary-palette-section>
    <gux-summary-palette-section slot="Evaluator">
      <gux-summary-palette-section-option>
        Location: Toronto
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Wisconsin
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Nevada
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: UK
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Austria
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Santa Monica
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: St Peterburg
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Mexico
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Toronto
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Wisconsin
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: Nevada
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Location: UK
      </gux-summary-palette-section-option>
    </gux-summary-palette-section>
    <gux-summary-palette-section options slot="Interaction Criteria">
      <gux-summary-palette-section-option>
        Agents: Workgroup A
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Date Range: Last 30 days
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Category: Exclude Billing Issues
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Agents: Workgroup A
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Date Range: Last 30 days
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Category: Exclude Billing Issues
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Agents: Workgroup A
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Date Range: Last 30 days
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Category: Exclude Billing Issues
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Agents: Workgroup A
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Date Range: Last 30 days
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Category: Exclude Billing Issues
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Agents: Workgroup A
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Date Range: Last 30 days
      </gux-summary-palette-section-option>
      <gux-summary-palette-section-option>
        Category: Exclude Billing Issues
      </gux-summary-palette-section-option>
    </gux-summary-palette-section>
  </div>
  </gux-summary-palette-beta>
</div>